/* 팝업박스 전체페이지 (주변회색포함)*/
#popupBoxT {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

/* 리얼팝업부분 화이트 */
#realSpaceT {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

/* 클로즈버튼이 포함된 부분 */
.imgcontainerT {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

/* 클로즈버튼 셋팅 */
#closeT {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#closeT:hover,
#closeT:focus {
  color: red;
  cursor: pointer;
}

/* 팝업을 띄우는 메인버튼 */
/* 팝업 헤더에서 사용되는 폰트 */
h1 {
  font-family: "Jua", sans-serif;
}

/* 팝업 헤더  */
#popupBoxT h1 {
  width: 50%;
  background-color: #fefefe;
  color: #0f4c81;
}
